/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F8CDA2;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    color: #564148;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    scroll-margin-top: 80px; /* Ensures the h2 is not hidden behind the sticky nav */
    border-bottom: 2px solid #564148;
    padding-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    text-align: justify;
}

a {
    color: #564148;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

/* Navigation Bar */
nav {
    background-color: #500e24;
    padding: 1rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: white;
    margin: 0 15px;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: underline;
}

/* Content Container */
.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Section Styling */
.section {
    margin-bottom: 3rem;
}

.section p {
    margin-left: 1rem;
}

/* Lists Styling */
ul, ol {
    margin-left: 2rem;
}

ul li, ol li {
    margin-bottom: 0.5rem;
}

ul.technical-skills li, ul.e li {
    list-style-type: disc;
}

ol.work-experience li, ol.education li, ol.skills-training-seminars li {
    list-style-type: decimal;
}

/* Go-to-Top Button */
.go-top-container {
    text-align: center;
    margin: 2rem 0;
}

.go-top {
    background-color: #3a6824;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.go-top:hover {
    background-color: #3a6824;
    text-decoration: none;
}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.profile-info {
    flex: 1;
}

header h1 {
    margin-bottom: 0.5rem;
    text-align: left;
}

header p {
    font-size: 1.2rem;
    color: #564148;
    text-align: left;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
}